[submodule "contracts"]
	path = contracts
	url = https://github.com/HunterGooD/voice_friend_contracts
[submodule "user_service"]
	path = user_service
	url = https://github.com/HunterGooD/voice_friend_user_service
